<h1 class="page-header">Noticias
<%= link_to 'Agregar Noticia', new_notice_path, class: "btn btn-primary" %>
</h1>
<div class="row placeholders">

<div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.title %></td>
        <td><%= notice.content %></td>
        <td><%= link_to 'Mostrar', notice %></td>
        <td><%= link_to 'Editar', edit_notice_path(notice) %></td>
        <td><%= link_to 'Eliminar', notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Agregar Noticia', new_notice_path, class: "btn btn-primary btn-lg" %>
