<h1 class="page-header">Paginas
  <%= link_to 'Agregar Pagina', new_page_path, class: "btn btn-primary" %>
</h1>
<div class="row placeholders">

<div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Ancestry</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= markdown (truncate(page.content, length: 250).to_s) %></td>
        <td style="width: 200px;"><%= page.is_root? ? "Padre" : page.root.name %></td>
        <td><%= link_to 'Mostrar', page %></td>
        <td><%= link_to 'Editar', edit_page_path(page) %></td>
        <td><%= link_to 'Eliminar', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Pagina', new_page_path, class: "btn btn-primary" %>
