<article class="page">
<%= render 'shared/breadcrumb', pages: @page %>
<header class="entry-header">
<h1 class="entry-title"><span><%= @page.name %></span></h1>
</header>
<%= link_to 'Edit', edit_page_path(@page), class: "btn btn-primary btn-lg",  role: "button" %> |
<%= link_to 'Back', pages_path, class: "btn btn-primary btn-lg" %>
<div class="entry-content">
  <%= markdown(@page.content) %>
</div>
<%= link_to 'Edit', edit_page_path(@page), class: "btn btn-primary btn-lg",  role: "button" %> |
<%= link_to 'Back', pages_path, class: "btn btn-primary btn-lg" %>

<%= render 'shared/breadcrumb', pages: @page %>
</article>

