<!DOCTYPE html>
<html>
  <head>
    <title>Acción Catolica</title>
    <meta charset="UTF-8" />
    <%= favicon_link_tag('favicon.png') %>
    <%= javascript_include_tag :application %>
    <meta name="viewport" content="width=device-width" />
    <%= render 'layouts/styles_javascripts' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="page">
      <%= render 'layouts/header' %>
      <%= render 'layouts/headline' %>
      <%= render 'layouts/intr' %>
      <div id="content" class="container">
        <div id="main" class="row-fluid">
          <div id="main-left" class="span8">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
          </div>
          <%= render 'layouts/sidebar' %>
          <%= render 'static_pages/gallery' %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
